body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color: rgba(174, 255, 0, 0.333); /* Choose your desired background color */
    padding: 50px;
    text-align: center;
}